# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

.vscode

npm-debug.log*
yarn-debug.log*
yarn-error.log*

Mtp9vtCcv3Xf7vN79wVW

dkRm8nzxZdW7gi5TqMt2xvtXji3MV3wZKwua9TuLKEy1FqT5azrfhBVxCfCiN6Cd